body {
    background-color: #c1ff72;
    font-family: "Comic Sans MS", "Comic Sans";
}

.pages_overview {
    margin: auto;
    width: 100%;
    padding: 100px;
    font-size: 200%;
}
a {
    color: #000000;
    text-decoration: none;
    
}
a:hover {
    color: darkolivegreen;
}