body {
    background-color: #c1ff72;
    font-family: "Comic Sans MS", "Comic Sans";
}

.navigationbar {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 20px;
    font-size: 200%;
}
a {
    color: #000000;
    text-decoration: none;
    
}
a:hover {
    color: darkolivegreen;
}

    h1 {
        font-size: 500%;

    }
    .link_icons {
        width: 75px;
    }

    .link_table_div {
        margin: auto;
        width: 50%;
        padding: 20px
    }


    #big_picture {
        float: right;
        margin: 10px;
        width: 50%;
    }